@font-face {
  font-family: 'Work Sans';
  src: url('WorkSans-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('WorkSans-Medium.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Work Sans';
  src: url('WorkSans-Italic.woff2');
  font-style: italic;
}

:root {
  --header-bg: rgba(0, 0, 0, 0.95);
  --txt: #eee;
  --body-bg: #111;
  --accent: #6690d9;
  --border: #aaa;
  --font-body: 'Work Sans', sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--txt);
  background-color: var(--body-bg);
  text-align: center;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

header {
  margin-bottom: 2.5rem;
  background-color: var(--header-bg);
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
}

header img {
  height: 3rem;
  margin-left: 1.5rem;
  display: block;
}

.home-ref {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-ref span {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  color: var(--txt);
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.5s ease-in-out;
}

.home-ref:hover span {
  max-width: 200px;
}

header a {
  color: var(--accent);
  text-decoration: none;
}

nav {
  margin-right: 1.5rem;
}

nav a {
  border: 1px solid var(--border);
  border-radius: .3rem;
  margin: .7rem;
  padding: .4rem 1.2rem;
  text-decoration: none;
  user-select: none;
  display: inline-block;
  color: var(--txt);
  transition: 0.5s;
}

nav a:hover, nav a:active {
  background-color: var(--txt);
  border: 1px solid var(--border);
  color: var(--header-bg);
}

main {
  overflow: hidden;
  padding: 0 2.5rem 5rem 2.5rem;
  max-width: 800px;
  margin: 0 auto;
}

main p {
  margin: 0 auto;
  text-align: justify;
}

.full {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.full p {
  text-align: justify-all !important;
  max-width: 600px;
}

.arrow {
  position: absolute;
  bottom: 0;
}

.full-secondary {
  height: 100vh;
}

main ul {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: fit-content;
  text-align: left;
}

.blog-entries a {
  padding-top: 1rem;
  display: block;
}

.author {
  float: left;
  max-width: 400px;
}

.date {
  overflow: hidden;
  text-align: right;
  margin-bottom: 2rem;
}

.code {
  font-family: monospace;
  padding: .2rem .3rem;
  border-radius: .3rem;
  border: 1px solid var(--border);
  margin: .3rem;
}

.code::before {
  content: '$ ';
  user-select: none;
}

.no-dollar::before {
  content: '';
}

.cowsay {
  font-family: monospace;
  text-align: left;
  white-space: pre;
  max-width: fit-content;
  display: inline-block;
  border: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  margin: 1rem;
  font-size: 1.1em;
  line-height: 1.5rem;
}

a {
  color: var(--txt);
  text-decoration: underline;
  transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
a:hover,
a:active {
  color: var(--accent);
}

code {
  padding: .2rem .3rem;
  border-radius: .3rem;
  border: 1px solid var(--border);
  margin: .3rem;
}

